body {
    margin: 0;
}

/* font-family: 'Over the Rainbow', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Viga', sans-serif; */